@model IEnumerable<CRUD2.Models.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="d-flex float-end mb-3">
        <button class="btn border-4 border-primary"> @Html.ActionLink("Card View", "Index", new { @class = "text-white" })</button>
    </div>

    <div class="table-responsive w-100">
        <table class="table table-hover">
            <tr>
                <th class="text-center">
                    Profile Photo
                </th>
                <th class="text-center">
                    Name
                </th>
                <th class="text-center">
                    Gender
                </th>
                <th class="text-center">
                    Date Of Birth
                </th>
                <th class="text-center">
                    Email
                </th>
                <th class="text-center">
                    Hobbies
                </th>
                <th class="text-center">
                    City
                </th>
                <th class="text-center">
                    Address
                </th>
                <th>
                    Resume Path
                </th>
                <th class="text-center">
                    Edit
                </th>
                <th class="text-center">
                    Delete
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <img src="@Url.Content(item.profile_photo)" alt="Profile Photo" style="width: 40px; height: 40px;" class="rounded-circle">
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td class="text-center">
                        @if (item.gender == true)
                        {
                            @Html.Raw("Female")
                        }
                        else
                        {
                            @Html.Raw("male")
                        }
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hobbies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        <a href="@Url.Content(item.resume)">@item.resume</a>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary" style="text-decoration: none;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.userId }, new { @class = "btn-link text-white" })
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger" style="text-decoration: none;">
                            @Html.ActionLink("Delete", "Delete", new { id = item.userId }, new { @class = "btn-link text-white" })
                        </button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>