@model CRUD2.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.userId)
    <div class="row">
        <div class="form-group col-lg">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-lg">
            @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.dob, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-lg">
            @Html.Label("Gender", htmlAttributes: new { @class = "control-label" })<br />
            Male:
            @Html.RadioButton("gender", "false", htmlAttributes: new { @class = "me-2" })
            Female:
            @Html.RadioButton("gender", "true")
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg my-2">
            @Html.Label("Hobbies", htmlAttributes: new { @class = "control-label col-md-2" })<br />

            <label>
                Cricket
                @Html.CheckBox("SelectedHobbies", new { value = "Cricket", @class = "me-1" })
            </label>

            <label>
                Dancing
                @Html.CheckBox("SelectedHobbies", new { value = "Dancing", @class = "me-1" })
            </label>

            <label>
                Reading
                @Html.CheckBox("SelectedHobbies", new { value = "Reading", @class = "me-1" })
            </label>
        </div>

        <div class="form-group col-lg my-2">
            @Html.LabelFor(model => model.profile_photo, new { @class = "control-label col-md-2 " })
            <div class="col-md-10" style="position: relative;">
                @*<input type="file" class="form-control" name="imageFile" id="fileInput" style="display: none;" required onchange="updateImage(this);" />
                <img id="previewImage" src="@Url.Content(Model.profile_photo)" alt="Profile Photo" style="width: 40px; height: 40px; cursor: pointer;" onclick="document.getElementById('fileInput').click();" />
                <label for="fileInput" style="position: absolute; top: 0; left: 0; width: 40px; height: 40px; cursor: pointer; background-color: rgba(255, 255, 255, 0);"></label>*@
                <input type="file" class="form-control" name="imageFile" required />
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="col-md-offset-2 col-md-10 mt-3">
            <input type="submit" value="Edit" class="btn btn-lg border-2 rounded-2 btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function updateImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('previewImage').setAttribute('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>